# Configuration for kdtree test

# Variable that MUST be initialized:
spImagesDirectory = ImagesDir  ectory
spImagesPrefix = Im agesPrefix
spImagesSuffix = .jp g
spNumOfImages = 1

# Variables that have default value:
spPCADimension = 20
spPCAFilename = pc a.yml
spNumOfFeatures = 100
spExtractionMode = true
spNumOfSimilarImages = 1
spKDTreeSplitMethod = INCREMENTAL
spKNN = 1
spMinimalGUI = false
spLoggerLevel = 4
spLoggerFilename = std out