# Configuration for kdtree test

# Variable that MUST be initialized:
spImagesDirectory = ImagesDirectory
spImagesPrefix = ImagesPrefix
spImagesSuffix = .jpg
spNumOfImages = 34 1

# Variables that have default value:
spPCADimension = 2 0
spPCAFilename = pca.yml
spNumOfFeatures = 10 0
spExtractionMode = true
spNumOfSimilarImages = 1
spKDTreeSplitMethod = INCREMENTAL
spKNN = 1
spMinimalGUI = false
spLoggerLevel = 4
spLoggerFilename = stdout