# Configuration for kdtree test

# Variable that MUST be initialized:
spImagesDirectory = ImagesDirectory
spImagesPrefix = ImagesPrefix
spImagesSuffix = .jpg
spNumOfImages = 341

# Variables that have default value:
spPCADimension = 2a0
spPCAFilename = pca.yml
spNumOfFeatures = 100B
spExtractionMode = true
spNumOfSimilarImages = 1
spKDTreeSplitMethod = INCREMENTAL
spKNN = 1
spMinimalGUI = false
spLoggerLevel = 4
spLoggerFilename = stdout