# Configuration for kdtree test

# Variable that MUST be initialized:
spImagesDirectory = ImagesDirectory
spImagesPrefix = ImagesPrefix
spImagesSuffix = .jpg

# Variables that have default value:
spPCADimension = 20
spPCAFilename = pca.yml
spNumOfFeatures = 100
spExtractionMode = true
spNumOfSimilarImages = 1
spKDTreeSplitMethod = INCREMENTAL
spKNN = 1
spMinimalGUI = false
spLoggerLevel = 4
spLoggerFilename = stdout

