# Configuration for kdtree test

spKDTreeSplitMethod = INCREMENTAL

spPCADimension = 17
spImagesDirectory = ./gallery/

spNumOfSimilarImages = 3
spKNN = 15
spImagesPrefix = photo
spMinimalGUI = true
spImagesSuffix = .jpg
spNumOfImages = 4
spExtractionMode = false

spPCAFilename = pca1.txt
spLoggerFilename = log
spNumOfFeatures = 200
spLoggerLevel = 2
