# Configuration for kdtree test

# Variable that MUST be initialized:
spImagesDirectory = ./pictures
spImagesPrefix = pic
spImagesSuffix = .bmp
spNumOfImages = 10

# Variables that have default value:
spPCADimension = 15
spPCAFilename = myPca.friend
spNumOfFeatures = 246
spExtractionMode = false
spNumOfSimilarImages = 6
spKDTreeSplitMethod = RANDOM
spKNN = 13
spMinimalGUI = true
spLoggerLevel = 1
spLoggerFilename = myLoggerfile.loog